<div class="chat">
  <div class="messagesBlock">
    <div
      *ngFor="let mess of myMessages; let i = index" 
      [ngClass]="{
        'message': true,
        '--currentUser': mess.author.name === currentUser.name
      }"
    >
      <div class="message__authorName" *ngIf="i==0 && mess.author.name!=currentUser.name">
        {{mess.author.name}}
      </div>
      <div class="message__authorName" *ngIf="i!=0 && mess.author.name!=currentUser.name && myMessages[i-1].author.name != mess.author.name ">
        {{mess.author.name}}
      </div>
      <div class="message__bubble" *ngIf="mess.author.name === currentUser.name">
        {{mess.text}}
        <button mat-icon-button [ngClass]="{
          'message__deleteButton': true,
          '--btnVisibility': flag==true
        }" 
        color="accent" (click)="clickDeleteHandler(i)" type="click">
            <mat-icon>clear</mat-icon>
        </button>
        <button mat-icon-button class="message__editButton" color="accent" (click)="clickEditHandler(i)" type="submit">
            <mat-icon>create</mat-icon>
        </button>
      </div>
      <div class="message__bubble" *ngIf="mess.author.name != currentUser.name">
          {{mess.text}}
        </div>
    </div>
  </div>
  <form class="inputForm" (submit)="submitSendHandler($event)" >
    <mat-form-field class="inputForm__input">
      <input matInput [(ngModel)]="message.text" name="name" type="text" [placeholder]=placeholder>
    </mat-form-field>
    <ng-container *ngIf="message.text=='' && flag ; else elseTemplate">
        <div class="inputForm__button">
            <button mat-icon-button color="accent" type="submit">
              <mat-icon>delete_outline</mat-icon>
            </button> 
          </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="inputForm__button">
        <button mat-icon-button color="accent" type="submit">
          <mat-icon>send</mat-icon>
        </button> 
      </div> 
    </ng-template>
  </form>
</div>