$bgcolor: #edeef0;

.chat {
  background-color: #fff;
  font-size: 15px;
  margin: auto;
  min-height: 700px;
  padding-top: 15px;  
}

.messagesBlock {
  border: solid 2px $bgcolor;
  border-radius: 4px;
  height: 70vh;
  margin: auto;
  margin-bottom: 20px;
  overflow-y: scroll;
  padding: 20px;
}

.message {
  align-items: flex-start;
  color: rgb(104, 104, 104);
  display: flex;
  flex-direction: column;
  padding: 4px;

  &.--currentUser {
    align-items: flex-end;
    color: rgb(70, 70, 240);

    .message__bubble {
      background-color: #d3e2ff;
      border: solid 1px #acc7fc;
    }
  }
}

.message__authorName {
  font-size: 17px;
  font-weight: 700;
  margin: 5px 0;
}

.message__bubble {
  background-color: $bgcolor;
  border: solid 1px #d6d7d8;
  border-radius: 6px;
  max-width: 60%;
  padding: 8px;
  word-wrap: break-word;
}

.inputForm {
  align-items: center;
  border: solid 2px $bgcolor;
  border-radius: 4px;
  display: flex;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

.mat-icon-button.inputForm__button {
  height: 30px;
  line-height: 30px;
  width: 30px;

  .mat-icon {
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
}

.inputForm__input { 
  padding: 10px;
  width: 100%;
}

.mat-icon-button.message__deleteButton {
  height: 15px;
  line-height: 15px;
  width: 15px;

  &.--btnVisibility {
    visibility: hidden;
  }

  .mat-icon {
    font-size: 15px;
    height: 15px;
    line-height: 15px;
    width: 15px;
  }
}

.mat-icon-button.message__editButton {
  height: 15px;
  line-height: 15px;
  width: 15px;

  .mat-icon {
    font-size: 15px;
    height: 15px;
    line-height: 15px;
    width: 15px;
  }
}