$bgColor: #edeef0;

.chat {
    min-height: 700px;
    margin: auto;
    font-size: 15px;
    background-color: white; 
    padding-top: 15px;  
}

.messagesBlock {
    height: 70vh;
    overflow-y: scroll;
    padding: 20px;
    border: solid 2px $bgColor;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
    color: rgb(104, 104, 104);
    &.--currentUser{
        align-items: flex-end;
        color:rgb(70, 70, 240);
            .message__bubble {
                background-color: #d3e2ff;
                border: solid 1px #acc7fc;
            }
    }
}

.message__authorName {
    font-weight: bold;
    font-size: 17px;
    margin: 5px 0px;
}

.message__bubble {
    background-color: $bgColor;
    border: solid 1px #d6d7d8;
    border-radius: 6px;
    padding: 8px;
    max-width: 60%;
    word-wrap: break-word;
}

.inputForm { 
    display: flex;
    align-items: center;
    border: solid 2px $bgColor;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    margin: auto;
}

.mat-icon-button.inputForm__button {
    width: 30px;
    height: 30px;
    line-height: 30px;

    .mat-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

.inputForm__input {
    width: 100%; 
    padding:10px;
}

.mat-icon-button.message__deleteButton {
    width: 15px;
    height: 15px;
    line-height: 15px;

    .mat-icon {
      font-size: 15px;
      width: 15px;
      height: 15px;
      line-height: 15px;
    }
  }