$bgcolor: #edeef0;

.loginForm {
  text-align: center; 
}

.loginForm__headline {
  padding-top: 30px;
}

.inputContainer {
  background-color: #fff;
  border: solid 2px $bgcolor;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 300px;
  padding: 70px 40px 60px;

  transition: 0.6s;
}
 
.inputContainer:hover {
  background-color: $bgcolor;
}