.header{
    width: 100%; 
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f51b5;
    z-index: 1;
    padding: 3px 25px;
    color:white;
    font-size: 15px;
    top: 0;
}

.homePage{
    max-width: 500px;
    margin: auto;
    background: white;
    min-height: 600px;
    border-radius: 4px;
    padding: 20px;
    margin-top: 80px;
}