.header {
  align-items: center;
  background-color: #3f51b5;
  color: #fff;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  padding: 3px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.homePage {
  background: #fff;
  border-radius: 4px;
  margin: auto;
  margin-top: 80px;
  max-width: 500px;
  min-height: 600px;
  padding: 20px;
}