/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './normalize.css';

* {
  box-sizing: border-box;
}

body {
  background-color: #edeef0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;  
}